body {
  font-family: "Literata", Georgia, serif;
}

.page__content {
  font-family: "Literata", Georgia, serif;
}

.page__title {
  font-family: "Reddit Sans", sans-serif;
}

.site-header__title {
  font-family: "Garamond", "EB Garamond", Georgia, serif;
}

.archive__item-title,
.masthead,
.greedy-nav,
.author__name,
.sidebar,
.nav__list,
.pagination,
.taxonomy__index,
.breadcrumbs {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
